// VARIABLE COLOR
$primary-color: #f5f0f0;
$secondary-color: #f17446;
$text: #636b72;
$black: black;
$orange: rgb(192, 80, 80);
$blue: #3f92a9ed;

$color_white: #ffffff;
$white-light: #f5f5f5;
$white-1: #dfe4eb;
$white-2: #bdc1c7;
$white-3: #7b7f85;
$white-4: #616468;
$white-5: #232628;

/*Weather */
$weather_1: #0c0c0ced;
$weather_2: #46324f;
$weather_3: #0396ff;
$weather_4: #c5c4c2;
$weather_5: #fbe1b7;
$weather_6: #c32bac;
$weather_7: #f120c8;
