@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 1%;
  }

  header {
    padding: 0% 4%;
    width: 100%;

    .contactModal-container.active {
      .modal {
        form {
          textarea {
            font-size: 2rem;
          }
          input {
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  /*ABOUT*/
  /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

  #circle-container {
    width: 22rem;
    height: 22rem;
    top: 16%;

    #circle {
      transform: scale(1.9);

      .rotrating-text {
        font-size: 1.1rem;
      }
    }
    .round {
      top: 15%;
      width: 15rem;
      height: 15rem;
    }
  }

  .about {
    flex-direction: row;

    .mamady,
    .about_container_bloc {
      width: 50%;
    }
    .dev {
      width: 100%;
    }
    .dev_card {
      h2 {
        font-size: 2.2rem;
      }
      h3 {
        font-size: 1.6rem;
        font-weight: 100;
      }
      i {
        font-size: 4.5rem;
        margin: 2rem 0;
        width: 6rem;
        height: 5.5rem;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .banner {
    height: 88vh;
  }

  .contact {
    label {
      font-size: 1.6rem;
    }
  }

  .nav .menu-nav__link {
    padding: 0 0.9rem;

    &::before,
    &::after {
      height: 6px;
    }
  }

  .container-info {
    bottom: 0;
    .info {
      .box .title h1 {
        font-size: 2.3rem;
        span {
          position: absolute;
          right: -1rem;
        }
      }
      .box .role p {
        font-size: 1.1rem;
        margin-top: 2rem;
      }
    }

    .more-projet .cta span {
      font-size: 2rem;
      vertical-align: middle;
    }
  }
}
@media screen and (max-width: 945px) {
  .banner--lorem {
    h1 {
      font-size: 4rem;
    }
    p:first-of-type {
      font-size: 1.6rem;
      top: 60%;
    }
  }
}

@media screen and (max-width: 766px) {
  .banner--lorem {
    h1 {
      font-size: 3.5rem;
      @include center;
      width: 100%;
    }

    h1 + p {
      @include center;
      width: 80%;
    }

    p + p {
      font-size: 1rem;
    }
  }

  .about--lorem,
  .online_projects {
    padding: 4% 8%;
  }

  .about--lorem {
    margin: 0 auto;
    text-align: center;
    img {
      float: none;
      width: 50%;
    }
    p {
      width: 100%;
      margin: 10% 0;
    }
    a {
      float: none;
      margin: 0;
    }
  }
  .online_projects {
    article {
      padding-right: 0;
      width: 100%;
      margin: 6% 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .banner--lorem {
    h1 {
      font-size: 3.5rem;
      text-align: center;
    }
    p:first-of-type {
      font-size: 1rem;
      line-height: 1rem;
    }
    video + p {
      font-size: 0.8rem;
    }
  }
  .about--lorem,
  .online_projects {
    p {
      text-align: justify;
      font-size: 1rem;
    }
  }
  .about--lorem {
    img {
      float: none;
      width: 50%;
    }
    a {
      padding: 2% 5%;
    }
  }
  .online_projects {
    a {
      padding: 2% 5%;
    }
    article:last-child {
      padding-left: 0%;
    }
  }
}

@media screen and (max-width: 500px) {
  .banner--lorem {
    h1 {
      font-size: 2rem;
      text-align: center;
    }
    p:first-of-type {
      font-size: 1rem;
      line-height: 1rem;
    }
    video + p {
      font-size: 0.8rem;
    }
  }
}
