body.dark {
  color: $text;
  background-color: $weather_1;

  p {
    font-size: 1rem;
    color: $white-1;
  }
  h1,
  h2,
  H3,
  h4,
  h5,
  h6 {
    /**/

    color: $white-1;
  }
}

.container {
  width: 100%;
  padding: 0 5%;
}

.container--weather_city {
  width: 50%;
  padding: 2%;
  background-color: transparent;

  form {
    @include flexs(rows, center, center, wrap);
    background-color: $white-5;
    text-align: center;
    border-radius: 25px;
    margin: auto;
    padding: 2%;

    input {
      outline: none;
      font-size: 1.2rem;
      background-color: transparent;
      border: none;
      text-align: center;
      color: $white-3;
      width: 80%;

      &:focus {
        color: $white-2;
      }
    }

    button {
      font-size: 1.4rem;
      width: 20%;
      transition: 0.5s;
      background-image: linear-gradient(
        to right,
        $weather_6 0%,
        $weather_3 51%,
        $weather_6 100%
      );
      background-size: 200% auto;
      text-align: center;
      border: none;
      outline: none;
      border-radius: 50px;

      &:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
      }

      i {
        font-size: 1.2rem;
        color: $white-1;
        padding-bottom: 0.5rem;
      }
    }
  }
}

.container--weather {
  margin: 2%;
  @include flexs(rows, space-between, center, wrap);

  .weather_city {
    h1 {
      font-size: 1.2rem;
      text-align: center;
    }
    p {
      font-size: 1.1rem;
      text-align: center;
    }
  }
  .air {
    background-color: $white-5;
    border-radius: 10px;
    padding: 0 1rem 1rem;
    text-align: center;

    p {
      line-height: 1rem;
      text-align: center;
      span {
        font-size: 1.4rem;
      }
    }
    i {
      font-size: 3rem;
    }
  }
}

.weather {
  @include flexs(column, center, center, wrap);
  height: 400px;
  margin: 2% 5%;
  background: no-repeat center/cover
    url("https://images.unsplash.com/photo-1592210454359-9043f067919b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  border-radius: 15px;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    $weather_5 1.1%,
    $weather_3 30.7%,
    $white-1 160%
  );
  h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  h3 {
    font-size: 4rem;
    font-weight: 800;
  }

  .info {
    width: 100%;
    @include flexs(rows, space-between, center, wrap);
    margin: 0 auto;
    padding: 0 5%;
    color: black;

    p {
      font-size: 1.3rem;
      span {
        font-size: 1.3rem;
      }
      i {
        font-size: 1.5rem;
      }
    }
    .temp {
      p {
        font-weight: bold;
        font-size: 1.3rem;
        span {
          font-size: 1.3rem;
        }
      }
    }
  }
  .icon {
    width: 100%;
    @include flexs(rows, space-evenly, center, wrap);

    img {
      width: 122px;
    }
  }
}

@media screen and (max-width: 500px) {
  .container--weather {
    flex-direction: column;

    &_city {
      width: 100%;
    }

    .weather_city {
      order: 1;
      margin: 2rem 0;
    }
    .air {
      order: 2;
    }
  }

  .weather {
    background-image: radial-gradient(
      circle farthest-corner at -2% 4%,
      #fbe1b7 1.1%,
      #0396ff 18.7%,
      #dfe4eb 160%
    );
    height: auto;
    padding: 5% 0;
    .info {
      flex-direction: column;
      order: 1;
      margin: 2rem 0;
    }

    .temp {
      p {
        margin-top: 2rem;
      }
    }

    .icon {
      margin: 1rem 0;
    }
  }
}
